html {
height: 100vh;
width: 100vw;
}

body {
font-family: 'Source Sans Pro', sans-serif;
-webkit-font-smoothing: antialiased;
height: 100%;
margin: 0;
-moz-osx-font-smoothing: grayscale;
width: 100%;
}

.ant-popover-inner > div {
background: #4CB69F;
}

.ant-popover-inner > div > .ant-popover-inner-content {
align-items: center;
display: flex;
justify-content: center;
padding: 0;
width: 100%;
}

.ant-popover-inner > div > .ant-popover-title {
color: white;
font-weight: bold;
line-height: 22px;
padding: 10px;
}

#root {
overflow: hidden;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}

